#pindah {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    right: 5vw;
    top: 5vh;
  }
  #tengah {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #judul {
    font-size: 4rem;
    margin: 2vh;
  } 
  p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  img {
    width: 20vw;
  }