body{
  display: flex;
  display: flex;
  height: 100vh;
  align-items: center;
}
img{
  position: absolute;
  width: 8vw;
  top: 8vh;
  left: 46vw;
}
p{
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  left: 5vw;
  top: 5vh;
}
#main{
  background: url("/img/scroll.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  gap: 4vh;
}
.pil{
  background: orange;
  color: white;
  width: 15vw;
  height: 7vh;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: black 0 0 5px;
  cursor: pointer;
}