
body{
    margin: 0;
    background: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "inter";
  }

  a button, input[type=submit] {
    cursor: pointer;
  }

